<header class="home-header ui grid">
		<div class="sixteen wide column header-image-style">
			<img src="/imgs/homepage/HeaderImg.jpg">
			<div class="search-container">
				<div class="ui action left icon input">
      				<i class="search icon"></i>
      				<input  type="text" placeholder="Search Images, Vectors, Videos and Audio">
      				<div nav-bar-dropbox class="ui dropdown label header-dropbox">
        				<div style="margin-top: 16%;" class="text">Images</div>
	        				<i class="dropdown icon"></i>
	        				<div class="menu">
	        				<div class="item">Images</div>
	          				<div class="item">Illustration</div>
	          				<div class="item">Videos</div>
	          				<div class="item">Audio</div>
        				</div>
        				<i class="search large icon"></i>
      				</div>
    			</div>
			</div>
			<div class="home-header-content">
				<h4>750,886,95 Stock Files &amp; Continue</h4>
			</div>	
		</div>		
</header>
<main class="home-main-container ui grid container">
	<div class="home-main-title sixteen wide column">
		<h4>Browse through our huge categories of Images</h4>
	</div>
	<div class="home-main-content sixteen wide column">
		<p>All images and videos on ImagesOye are released free of copyrights under Creative Commons CCO. You may download,modify,distribute and use them royalty free for anything you like, even in commercial applications. Attribution is not required. Learn more...</p>
	</div>
	<div cardDimmer class="ui three cards">
		<div style="width: 30%" class="ui card">
		    <div style="height: 80%" class="image">
		      <div  class="ui blurring inverted dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui teal button">Add Friend</div>
		          </div>
		        </div>
		      </div>
		      <img  style="height: 100%" src="/imgs/homepage/img1.jpg">
		    </div>
		    <div style="text-align: center;background-color: #e8ecef;" class="content">
		      <div class="header">Potrait</div>
		    </div>
		</div>
		<div style="width: 30%" class="ui card">
		    <div style="height: 80%" class="image">
		      <div class="ui blurring inverted dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui teal button">Add Friend</div>
		          </div>
		        </div>
		      </div>
		      <img style="height: 100%" src="/imgs/homepage/img2.jpg">
		    </div>
		    <div style="text-align: center;background-color: #e8ecef" class="content">
		      <div class="header">Travel</div>
		    </div>
		</div>
		<div style="width: 30%" class="ui card">
		    <div style="height: 80%" class="image">
		      <div class="ui blurring inverted dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui teal button">Add Friend</div>
		          </div>
		        </div>
		      </div>
		      <img style="height: 100%" src="/imgs/homepage/img3.jpg">
		    </div>
		    <div style="text-align: center;background-color: #e8ecef;" class="content">
		      <div class="header">Trending</div>
		    </div>
		</div>
		<div style="width: 30%" class="ui card">
		    <div style="height: 80%" class="image">
		      <div class="ui blurring inverted dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui teal button">Add Friend</div>
		          </div>
		        </div>
		      </div>
		      <img style="height: 100%" src="/imgs/homepage/img4.jpg">
		    </div>
		    <div style="text-align: center;background-color: #e8ecef;" class="content">
		      <div class="header">People</div>
		    </div>
		</div>
		<div style="width: 30%" class="ui card">
		    <div style="height: 80%" class="image">
		      <div class="ui blurring inverted dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui teal button">Add Friend</div>
		          </div>
		        </div>
		      </div>
		      <img style="height: 100%" src="/imgs/homepage/img5.jpg">
		    </div>
		    <div style="text-align: center;background-color: #e8ecef;" class="content">
		      <div class="header">Animals</div>
		    </div>
		</div>
		<div style="width: 30%" class="ui card">
		    <div style="height: 80%" class="image">
		      <div class="ui blurring inverted dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui teal button">Add Friend</div>
		          </div>
		        </div>
		      </div>
		      <img style="height: 100%" src="/imgs/homepage/img6.jpg">
		    </div>
		    <div style="text-align: center;background-color: #e8ecef;" class="content">
		      <div class="header">Toys</div>
		    </div>
		</div>
	</div>
<div class="home-main-categories ui grid container">
	<div class="category-title sixteen wide column">
		<h2>Browse all categories</h2>
	</div>
	<div class="list-categories ui grid container sixteen wide column">
		<div class="four wide column category">
			<p><a href="#">Abstract</a></p>
			<p><a href="#">Animals/Wildlife</a></p>
			<p><a href="#">The Arts</a></p>
			<p><a href="#">Backgrounds/Texture</a></p>
			<p><a href="#">Beauty/Fashion</a></p>
			<p><a href="#">Buildings/Landmarks</a></p>
			<p><a href="#">Buisness/Finance</a></p>
		</div>
		<div class="four wide column category">
			<p><a href="#">Editorial</a></p>
			<p><a href="#">Education</a></p>
			<p><a href="#">Food and Drink</a></p>
			<p><a href="#">Healthcare/Medical</a></p>
			<p><a href="#">Holidays</a></p>
			<p><a href="#">Illustrations/Clip-Art</a></p>
			<p><a href="#">Industrial</a></p>
		</div>
		<div class="four wide column category">
			<p><a href="#">Miscallaneous</a></p>
			<p><a href="#">Model Released Only</a></p>
			<p><a href="#">Nature</a></p>
			<p><a href="#">Objects</a></p>
			<p><a href="#">Parks/Outdoor</a></p>
			<p><a href="#">People</a></p>
			<p><a href="#">Religion</a></p>
		</div>
		<div class="two wide column category">
			<p><a href="#">Signs/Symbols</a></p>
			<p><a href="#">Sports/Recreation</a></p>
			<p><a href="#">Technology</a></p>
			<p><a href="#">Transportation</a></p>
			<p><a href="#">Vectors</a></p>
			<p><a href="#">Vintage</a></p>
			<p><a href="#">Science</a></p>
		</div>
	</div>	
</div>
<div class="home-main-FindStock">
	<div class="home-main-title">
		<h3>Find Stocked Images for your Next Web Project</h3>
	</div>
	<div class="home-main-FindStock-images-row1-images ui grid container">
		<div class="five wide column card-padding">
			<img src="/imgs/homepage/Layer 7.png">
		</div>
		<div class="five wide column card-padding">
			<img src="/imgs/homepage/Layer 6.png">
		</div>
		<div class="five wide column card-padding">
			<img src="/imgs/homepage/Layer 5.png">
		</div>
	</div>
	<div class="home-main-FindStock-images-row2-images ui grid container">
		<div class="three wide column card-padding">
			<img src="/imgs/wireframe/image.png">
		</div>
		<div class="four wide column card-padding">
			<img src="/imgs/wireframe/image.png">
		</div>
		<div class="five wide column card-padding">
			<img src="/imgs/wireframe/image.png">
		</div>
		<div class="three wide column card-padding">
			<img src="/imgs/wireframe/image.png">
		</div>
	</div>
	<div class="home-main-FindStock-images-row3-images ui grid container">
		<div class="five wide column card-padding">
			<img src="/imgs/wireframe/image.png">
		</div>
		<div class="five wide column card-padding">
			<img src="/imgs/wireframe/image.png">
		</div>
		<div class="five wide column card-padding">
			<img src="/imgs/wireframe/image.png">
		</div>
	</div>
	<div class="home-main-FindStock-images-row4-images ui grid container">
		<div class="five wide column card-padding">
			<img src="/imgs/wireframe/image.png">
		</div>
		<div class="five wide column card-padding">
			<img src="/imgs/wireframe/image.png">
		</div>
		<div class="five wide column card-padding">
			<img src="/imgs/wireframe/image.png">
		</div>
	</div>
	<div class="home-main-FindStock-button">
		<button class="red ui button">See More</button>
	</div>
</div>
<div class="home-main-featurePhotographers">
	<div class="title">
		<h2>Meet this week's featured Photographers</h2>
	</div>
	<div class="home-main-featurePhotographers-profiles ui grid container">
		<div class="profile-container">
			<img class="main-image" src="/imgs/homepage/Img4.jpg">
			<img class="sub-image" src="/imgs/avatar/nan.jpg">
			<h3 class="profile-name">Bengold</h3>
			<h6 class="profile-photographs";">1,938 photos</h6>
		</div>
		<div class="profile-container">
			<img class="main-image" src="/imgs/homepage/Img3.jpg">
			<img class="sub-image" src="/imgs/avatar/tom.jpg">
			<h3 class="profile-name">Bengold</h3>
			<h6 class="profile-photographs";">1,938 photos</h6>
		</div>
		<div class="profile-container">
			<img class="main-image" src="/imgs/homepage/Img2.jpg">
			<img class="sub-image" src="/imgs/avatar/nan.jpg">
			<h3 class="profile-name">Bengold</h3>
			<h6 class="profile-photographs";">1,938 photos</h6>
		</div>
		<div class="profile-container">
			<img class="main-image" src="/imgs/homepage/Img1.jpg">
			<img class="sub-image" src="/imgs/avatar/tom.jpg">
			<h3 class="profile-name">Bengold</h3>
			<h6 class="profile-photographs";">1,938 photos</h6>
		</div>
	</div>
	<div class="title-call-to-action">
		<h2>Want to become one of the featured photographer? Why not join us &amp; start selling today</h2>
	</div>
	<div class="call-to-action">
		<button class="red ui button">Sign me up</button>
	</div>
</div>
</main>