<header class="navbar-container">
	<div class="ui large top fixed hidden menu navbar-menu">
		<div class="ui container navbar-left-menu">
			<a class="active item" id="activeItem">Photos</a>
			<a class="item">Illustration</a>
			<a class="item">Videos</a>
			<a class="item">Audio</a>
			<div class="right menu navbar-right-menu">
				<div nav-bar-dropbox class="ui dropdown item navbar-items dropbox-menu" style="color: white">
					Explore
					<i class="dropdown icon" style="color: white"></i>
					<div class="menu">
						<div class="item">Action</div>
      					<div class="item">Another Action</div>
      					<div class="item">Something else here</div>
      					<div class="divider"></div>
      					<div class="item">Separated Link</div>
      					<div class="divider"></div>
      					<div class="item">One more separated link</div>
					</div>
				</div>
				<a class="item navbar-items">Pricing</a>
				<div ng-if="user" nav-bar-dropbox class="ui dropdown item navbar-items dropbox-menu" style="color: white">
					{{user.first_name}}
					<i class="dropdown icon" style="color: white"></i>
					<div class="menu">
						<div class="item">My Profile</div>
      					<div class="item"><a ui-sref="app.public.profile.edit_profile">Edit Profile</a></div>
      					<div class="divider"></div>
      					<div class="item">My Downloads</div>
      					<div class="item">My Uploads</div>
					</div>
				</div>
				<a ng-if="user" ng-click="signout()" class="item navbar-items">SIGN OUT</a>
				<a ng-if="!user" class="item navbar-items" ui-sref="app.publicgis.join">SIGN IN-or-REGISTER</a>
			</div>
		</div>
	</div>
</header>
<ui-view></ui-view>
<footer class="footer">
	<div class="ui grid">
			<div class="four wide column">
				<h4>Company Info</h4>
				<p><a href="#">Home</a></p>
				<p><a href="#">About Us</a></p>
				<p><a href="#">Press Releases</a></p>
				<p><a href="#">Testimonials</a></p>
				<p><a href="#">Image Research</a></p>
			</div>
			<div class="four wide column">
				<h4>Learn More</h4>
				<p><a href="#">Licensing</a></p>
				<p><a href="#">Terms of Use</a></p>
				<p><a href="#">Privacy Policy</a></p>
			</div>
			<div class="four wide column">
				<h4>Need Help</h4>
				<p><a href="#">Contact Us</a></p>
				<p><a href="#">Search Tips</a></p>
				<p><a href="#">FAQ</a></p>
			</div>
			<div class="four wide column">
			<a ui-sref="app.public.examples">Go to examples</a>
			</div>
	</div>
</footer>