<h1>Examples</h1>
<h2>Buttons</h2>
<div class="ui stackable equal width grid">
  <div class="column">
    <button class="ui button">Default</button>
    <button class="ui primary button">Primary</button>
    <button class="ui secondary button">Secondary</button>
    <button class="ui basic button">Basic</button>
    <button class="ui compact button">
      Compact
    </button>

    <div class="ui divider"></div>
    <button class="ui icon button">
      <i class="heart icon"></i>
    </button>
    <button class="ui labeled icon button">
      <i class="heart icon"></i>
      Labeled
    </button>
    <button class="ui right labeled icon button">
      <i class="heart icon"></i>
      Labeled
    </button>

    <div class="ui divider"></div>

    <div class="ui buttons">
      <button nav-bar-dropbox class="ui button">Combo</button>
      <div class="ui floating dropdown icon button">
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Choice 1</div>
          <div class="item">Choice 2</div>
          <div class="item">Choice 3</div>
        </div>
      </div>
    </div>

    <div class="ui floating search dropdown button">
      <span class="text">Search Dropdown</span>
      <div class="menu">
        <div class="item">Arabic</div>
        <div class="item">Chinese</div>
        <div class="item">Danish</div>
        <div class="item">Dutch</div>
        <div class="item">English</div>
        <div class="item">French</div>
        <div class="item">German</div>
        <div class="item">Greek</div>
        <div class="item">Hungarian</div>
        <div class="item">Italian</div>
        <div class="item">Japanese</div>
        <div class="item">Korean</div>
        <div class="item">Lithuanian</div>
        <div class="item">Persian</div>
        <div class="item">Polish</div>
        <div class="item">Portuguese</div>
        <div class="item">Russian</div>
        <div class="item">Spanish</div>
        <div class="item">Swedish</div>
        <div class="item">Turkish</div>
        <div class="item">Vietnamese</div>
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui animated button" tabindex="0">
      <div class="visible content">Horizontal</div>
      <div class="hidden content">
        Hidden
      </div>
    </div>
    <div class="ui vertical animated button" tabindex="0">
      <div class="visible content">Vertical</div>
      <div class="hidden content">
        Hidden
      </div>
    </div>
    <div class="ui animated fade button" tabindex="0">
      <div class="visible content">Fade In</div>
      <div class="hidden content">
        Hidden
      </div>
    </div>

    <div class="ui divider"></div>
    <button class="ui disabled button">Disabled</button>
    <button class="ui loading button">Loading</button>

    <div class="ui divider"></div>

    <div class="ui buttons">
      <button class="ui button">1</button>
      <button class="ui button">2</button>
      <button class="ui button">3</button>
    </div>

    <div class="ui icon buttons">
      <button class="ui button"><i class="align left icon"></i></button>
      <button class="ui button"><i class="align center icon"></i></button>
      <button class="ui button"><i class="align right icon"></i></button>
      <button class="ui button"><i class="align justify icon"></i></button>
    </div>

    <div class="ui buttons">
      <button class="ui button">1</button>
      <div class="or"></div>
      <button class="ui button">2</button>
    </div>

    <div class="ui divider"></div>

    <div class="ui two top attached buttons">
      <div class="ui button">One</div>
      <div class="ui button">Two</div>
    </div>
    <div class="ui attached segment">
      <img src="/imgs/wireframe/paragraph.png" class="ui wireframe image">
    </div>
    <div class="ui two bottom attached buttons">
      <div class="ui button">One</div>
      <div class="ui button">Two</div>
    </div>

  </div>
  <div class="column">
    <button class="ui mini button">Mini</button>
    <button class="ui tiny button">Tiny</button>
    <button class="ui small button">Small</button>
    <button class="ui large button">Large</button>
    <button class="ui big button">Big</button>
    <button class="ui huge button">Huge</button>
    <button class="ui massive button">Massive</button>
    <div class="ui divider"></div>
    <div class="spaced">
      <button class="yellow ui button">Yellow</button>
      <button class="orange ui button">Orange</button>
      <button class="green ui button">Green</button>
      <button class="teal ui button">Teal</button>
      <button class="blue ui button">Blue</button>
      <button class="purple ui button">Purple</button>
      <button class="pink ui button">Pink</button>
      <button class="red ui button">Red</button>
      <button class="black ui button">Black</button>
    </div>


    <div class="ui divider"></div>

    <div class="ui inverted segment">
      <button class="ui inverted button">Inverted</button>
      <button class="ui inverted basic button">Basic</button>
      <button class="ui inverted blue button">Colored</button>
      <button class="ui inverted blue basic button">Basic Colored</button>
    </div>

  </div>
</div>
<h3>Cards</h3>
<div cardDimmer class="ui four cards">
  <div class="ui card">
    <div class="image">
      <div class="ui blurring inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui teal button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="http://ichef.bbci.co.uk/wwfeatures/wm/live/1280_640/images/live/p0/4x/1l/p04x1ljr.jpg">
    </div>
    <div class="content">
      <div class="header">Title</div>
      <div class="meta">
        <a class="group">Meta</a>
      </div>
      <div class="description">One or two sentence description that may go to several lines</div>
    </div>
    <div class="extra content">
      <a class="right floated created">Arbitrary</a>
      <a class="friends">
        Arbitrary</a>
    </div>
  </div>
  <div class="ui card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Call to Action</div>
          </div>
        </div>
      </div>
      <img src="/imgs/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">Name</a>
      <div class="meta">
        <span class="date">Date</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        Users
      </a>
    </div>
  </div>
  <div class="ui card">
    <div class="ui slide right reveal image">
      <div class="visible content">
        <img class="ui fluid image" src="/imgs/avatar/nan.jpg">
      </div>
      <div class="hidden content">
        <img class="ui fluid image" src="/imgs/avatar/tom.jpg">
      </div>
    </div>
    <div class="content">
      <img src="/imgs/wireframe/paragraph.png" class="ui wireframe image">
    </div>
  </div>
  <div class="ui card">
    <div class="ui move reveal image">
      <div class="visible content">
        <img class="ui fluid image" src="/imgs/avatar/tom.jpg">
      </div>
      <div class="hidden content">
        <img class="ui fluid image" src="/imgs/avatar/nan.jpg">
      </div>
    </div>
    <div class="content">
      <img src="/imgs/wireframe/paragraph.png" class="ui wireframe image">
    </div>
  </div>
</div>
<div class="ui four cards">
  <div class="ui card">
    <div class="extra content">
      <span class="left floated like">
        <i class="like icon"></i>
        Like
      </span>
      <span class="right floated star">
        <i class="star icon"></i>
        Favorite
      </span>
    </div>
    <div class="content">
      <img src="/imgs/wireframe/paragraph.png" class="ui wireframe image">
    </div>
  </div>
  <div class="ui card">
    <div class="content">
      <div class="header">
        <img src="/imgs/wireframe/square-image.png" class="ui avatar right spaced image">
        Abbreviated Header
      </div>
      <div class="description">
        <img src="/imgs/wireframe/paragraph.png" class="ui wireframe image">
      </div>
    </div>
    <div class="ui two bottom attached buttons">
      <div class="ui button">
        Action 1
      </div>
      <div class="ui button">
        Action 2
      </div>
    </div>
  </div>
  <a href="#" class="ui card">
    <div class="content">
      <div class="header">Cute Dog</div>
      <div class="meta">
        <span class="category">Animals</span>
      </div>
      <div class="description">
        <img src="/imgs/wireframe/paragraph.png" class="ui wireframe image">
      </div>
    </div>
    <div class="extra content">
      <div class="right floated author">
        <img src="/imgs/wireframe/square-image.png" class="ui avatar image"> Username
      </div>
    </div>
  </a>
  <div class="ui card">
    <div class="ui two top attached basic buttons">
      <div class="ui button">
        Action 1
      </div>
      <div class="ui button">
        Action 2
      </div>
    </div>
    <div class="content">
      <img src="/imgs/wireframe/paragraph.png" class="ui wireframe image">
    </div>
    <div class="ui two bottom attached basic buttons">
      <div class="ui button">
        Action 3
      </div>
      <div class="ui button">
        Action 4
      </div>
    </div>
  </div>
</div>


<div class="ui four cards">
  <div class="card">
    <div class="content">
      Content 1
    </div>
    <div class="content">
      Content 2
    </div>
    <div class="content">
      Content 3
    </div>
    <div class="extra content">
      Extra Content
    </div>
  </div>
  <div class="card">
    <div class="content">
      Content 1
    </div>
    <div class="content">
      Content 2
    </div>
    <div class="content">
      Content 3
    </div>
    <div class="extra content">
      Extra Content
    </div>
  </div>
  <div class="card">
    <div class="content">
      Content 1
    </div>
    <div class="content">
      Content 2
    </div>
    <div class="content">
      Content 3
    </div>
    <div class="extra content">
      Extra Content
    </div>
  </div>
  <div class="card">
    <div class="content">
      Content 1
    </div>
    <div class="content">
      Content 2
    </div>
    <div class="content">
      Content 3
    </div>
    <div class="extra content">
      Extra Content
    </div>
  </div>
</div>

<div class="ui four cards">
  <div class="card">
    <div class="image">
      <img src="/imgs/wireframe/image.png">
    </div>
    <div class="extra center aligned">
      <div data-rating="4" class="ui star rating"></div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/imgs/wireframe/image.png">
    </div>
    <div class="extra center aligned">
      <div data-rating="2" class="ui star rating"></div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/imgs/wireframe/image.png">
    </div>
    <div class="extra center aligned">
      <div data-rating="3" class="ui star rating"></div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/imgs/wireframe/image.png">
    </div>
    <div class="extra center aligned">
      <div data-rating="4" class="ui star rating"></div>
    </div>
  </div>
</div>
<h3>Input</h3>
<div class="ui two column stackable grid">
  <div class="column">

    <div class="ui action left icon input">
      <i class="search icon"></i>
      <input type="text" placeholder="Search...">
      <div class="ui teal button">Search</div>
    </div>

    <div class="ui divider"></div>
    <div class="ui input error">
      <input placeholder="Search..." type="text">
    </div>
    <div class="ui divider"></div>

    <div class="ui right labeled input">
      <input placeholder="Placeholder" type="text">
      <div class="ui dropdown label">
        <div class="text">Dropdown</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Choice 1</div>
          <div class="item">Choice 2</div>
          <div class="item">Choice 3</div>
        </div>
      </div>
    </div>
    <div class="ui divider"></div>

    <div class="ui transparent icon input">
      <input placeholder="Search..." type="text">
      <i class="search icon"></i>
    </div>
    <div class="ui transparent left icon input">
      <input placeholder="Search..." type="text">
      <i class="search icon"></i>
    </div>
    <div class="ui divider"></div>
    <div class="ui left icon input loading">
      <input placeholder="Loading..." type="text">
      <i class="search icon"></i>
    </div>

    <div class="ui icon input loading">
      <input placeholder="Loading..." type="text">
      <i class="search icon"></i>
    </div>

  </div>
  <div class="column">
    <div class="ui right labeled left icon input">
      <i class="tags icon"></i>
      <input placeholder="Enter tags" type="text">
      <a class="ui tag label">
        Add Tag
      </a>
    </div>
    <div class="ui divider"></div>
    <div class="ui labeled input">
      <a class="ui label">
        Label
      </a>
      <input type="text" placeholder="Placeholder...">
    </div>
    <div class="ui divider"></div>
    <div class="ui right labeled input">
      <input type="text" placeholder="Placeholder...">
      <a class="ui label">
        Label
      </a>
    </div>
    <div class="ui divider"></div>
    <div class="ui labeled icon input">
      <div class="ui label">
        http://
      </div>
      <input type="text" placeholder="domain.com">
      <i class="add circle link icon"></i>
    </div>
    <div class="ui right action input">
      <input type="text" placeholder="domain.com">
      <div class="ui teal button">
        <i class="add icon"></i>
        Add
      </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui corner labeled input">
      <input type="text" placeholder="Required Field">
      <div class="ui corner label">
        <i class="asterisk icon"></i>
      </div>
    </div>

  </div>
</div>
<h3>Menu</h3>
<div nav-bar-menu class="ui menu">
  <div class="header item">Brand</div>
  <a class="active item">Link</a>
  <a class="item">Link</a>
  <div class="ui dropdown item">
    Dropdown
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item">Action</div>
      <div class="item">Another Action</div>
      <div class="item">Something else here</div>
      <div class="divider"></div>
      <div class="item">Separated Link</div>
      <div class="divider"></div>
      <div class="item">One more separated link</div>
    </div>
  </div>
  <div class="right menu">
    <div class="item">
      <div class="ui action left icon input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search">
        <button class="ui button">Submit</button>
      </div>
    </div>
    <a class="item">Link</a>
  </div>
</div>

<div class="ui inverted menu">
  <div class="header item">Brand</div>
  <div class="active item">Link</div>
  <a class="item">Link</a>
  <div class="ui dropdown item">
    Dropdown
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item">Action</div>
      <div class="item">Another Action</div>
      <div class="item">Something else here</div>
      <div class="divider"></div>
      <div class="item">Separated Link</div>
      <div class="divider"></div>
      <div class="item">One more separated link</div>
    </div>
  </div>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent inverted icon input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search">
      </div>
    </div>
    <a class="item">Link</a>
  </div>
</div>

<div class="ui secondary menu">
  <div class="active item">Link</div>
  <a class="item">Link</a>
  <div class="ui dropdown item">
    Dropdown
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item">Action</div>
      <div class="item">Another Action</div>
      <div class="item">Something else here</div>
      <div class="divider"></div>
      <div class="item">Separated Link</div>
      <div class="divider"></div>
      <div class="item">One more separated link</div>
    </div>
  </div>
  <div class="right menu">
    <div class="item">
      <div class="ui action left icon input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search">
        <button class="ui button">Submit</button>
      </div>
    </div>
    <a class="item">Link</a>
  </div>
</div>

<div class="ui three column doubling grid">
  <div class="column">
    <div class="ui secondary pointing menu">
      <div class="active item">Link</div>
      <a class="item">Link</a>
      <a class="item">Link</a>
    </div>
  </div>

  <div class="column">
    <div class="ui tabular menu">
      <div class="active item">Link</div>
      <a class="item">Link</a>
      <a class="item">Link</a>
    </div>
  </div>

  <div class="column">
    <div class="ui pointing menu">
      <div class="active item">Link</div>
      <a class="item">Link</a>
      <div class="right item">
        Right Text
      </div>
    </div>
  </div>
</div>
