<header class="portfolio-header ui-grid">
	<div class="main-content sixteen wide column">
		<div class="main-heading">Sharan Gohar Khan</div>
		<div class="skills-list">
			<ul im-text-fader class="unorderd-list-skills">
				<li>Development</li>
				<li>Design</li>
				<li>Innovation</li>
				<li>Entrepreneurship</li>
				<li>Architecture</li>
				<li>API</li>
				<li>Evangelism</li>
				<li>Data-science</li>
				<li>Mobile devices</li>
				<li>Art</li>
				<li>Startups</li>
				<li>Leadership</li>
				<li>Linux</li>
				<li>Cloud</li>
				<li>Open source</li>
				<li>Algorithms</li>
				<li>Research</li>
				<li>Hacking</li>
				<li>Mentoring</li>
			</ul>
		</div>
	</div>
</header>